[submodule "go-reloaded"]
	path = go-reloaded
	url = https://github.com/Paoower/go-reloaded.git
[submodule "piscine-go/piscine-go"]
	path = piscine-go/piscine-go
	url = https://github.com/Paoower/piscine-go.git
[submodule "tetris-optimizer"]
	path = tetris-optimizer
	url = https://github.com/Paoower/tetris-optimizer.git
[submodule "piscine-go/quad"]
	path = piscine-go/quad
	url = https://github.com/Paoower/quad.git
[submodule "piscine-go/sudoku"]
	path = piscine-go/sudoku
	url = https://github.com/Paoower/sudoku.git
[submodule "piscine-go/quadchecker"]
	path = piscine-go/quadchecker
	url = https://github.com/Paoower/quadchecker.git
[submodule "git"]
	path = git
	url = https://github.com/Paoower/Git.git
[submodule "mathematics/math-skills"]
	path = mathematics/math-skills
	url = https://github.com/Paoower/math-skills.git
